### Intellij IDEA ###
.idea/
.idea/artifacts
.idea/compiler.xml
.idea/modules.xml
*.iml
*.iws

### Netbeans ###
/build/*
nbactions*.xml
nb-configuration*.xml
.netbeans_automatic_build
.netbeans_update_resources


### Maven ###
log/
target/

### Java ###
*.class
#*.jar
#*.war
*.ear

### Other Files ###
*.log
*.tar.gz
*.rar
#*.zip

